form{
  margin-top: 3rem;


}

form input[name="city"],
form input[name="country"] {
  background-color: black;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
/*  this way we remove the blue on the form when
we select it, for a better understood , delte this
and see it */
form input:focus{
  background-color: transparent;
  box-shadow: none !important;
}
